@charset "utf-8";
/* CSS Document */

.abs-container{
	position:absolute;
	top:222px;
	left:664px;
}

.text-top{
	width:448px;
	height:68px;
	background: #f2f7f9;
	font-size:34px;
	font-family:Verdana, Geneva, sans-serif;
	text-align:center;
	line-height:68px;
	margin-bottom:2px;
	opacity:0.6;
}

.text-down{
	width:586px;
	height:68px;
	background:#f2f7f9;
	font-size:33px;
	font-family:Verdana, Geneva, sans-serif;
	text-align:center;
	line-height:68px;
	margin-bottom:2px;
	opacity:0.6;
}

.next-left{
	width:76px;
	height:67px;
	background:#f2f7f9;
	text-align:center;
	float:left;
	opacity:0.6;
}

.next-left img{
	margin-top:22px;
}

.next-right{
	width:76px;
	height:75px;
	background:#f2f7f9;
	text-align:center;
	float: left;
	margin-left:2px;
	opacity:0.6;
}

.next-right img{
	margin-top:22px;
}

.next-right:hover, .next-left:hover{
	background:#00bfff;
	cursor:pointer;
	opacity:0.8;
}




.content-div{
	width:344px;
	float:left;
	margin-right:83px;
	margin-bottom:99px;
}

.round-image{
	width:64px;
	float:left;
	margin-top:1px;
}

.content{
	width:241px;
	float:left;
	margin-left:38px;
}

.content-title{
	font-weight:bold;
	font-size:20px;
	font-family:Tahoma, Geneva, sans-serif;
	opacity:0.6;
}

.content-text{
	width:241px;
	margin-top:22px;
	font-family:Tahoma, Geneva, sans-serif;
	opacity:0.6;
	font-size:14px;
	line-height:20px;
}

.content-more{
	width:100px;
	margin-top:20px;
	font-family:Tahoma, Geneva, sans-serif;
	opacity:0.7;
	font-size:14px;
}

.content-more:hover{
	cursor:pointer;
	opacity:0.4;
}




.test-starter{
	width:13px;
	margin:0px auto;
}

.test-title{
	margin-top:39px;
	font-size:26px;
	font-family:Verdana, Geneva, sans-serif;
	text-align:center;
	opacity:0.8;
}

.test-text{
	margin-top:84px;
	font-family:Verdana, Geneva, sans-serif;
	text-align:center;
	opacity:0.6;
	line-height:32px
}

.test-foot{
	margin-top:43px;
	font-size:20px;
	font-family:Verdana, Geneva, sans-serif;
	text-align:center;
	opacity:0.8;
}

.test-slider{
	position: absolute;
	top:440px;
	left:715px;
}

.test-slider img{
	margin-right:10px;
}

.test-ender{
	width:13px;
	margin:90px auto 0px;
}




.bottom-image{
	float:left;
}

.bottom-content{
	float:left;
	padding-top:80px;
	padding-left:40px;
	padding-right:40px;
	padding-bottom:80px;
}

.bottom-title{
	width:670px;
	color:#ffffff;
	font-family:Verdana, Geneva, sans-serif;
	font-size:29px;
	line-height:35px;
}

.bottom-text{
	width:670px;
	color:#eeeeee;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	margin-top:56px;
	line-height:20px;
}

.bottom-more{
	width:124px;
	color:#ffffff;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:18px;
	margin-top:41px;
}

.bottom-more:hover{
	cursor:pointer;
	opacity:0.4;
}




.signup-title{
	width:690px;
	margin:0px auto;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:34px;
	font-weight:bold;
	color:#6b6b6b;
}

.signup-text{
	width:599px;
	margin:20px auto 0px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	opacity:0.8;
}

.signup-button{
	width:261px;
	height:55px;
	margin:59px auto 0px;
	background:#65bf95;
	color:#f7fbf9;
	text-align:center;
	line-height:55px;
	font-family:Tahoma, Geneva, sans-serif;
}

.signup-button:hover{
	cursor:pointer;
	opacity:0.8;
}

.mid-border{
	width:1px;
	margin:0px auto;
}




.api-content h1{
	font-size:30px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	color:#eb2b36;
	margin-left:10px;
	margin-top:10px;
}

.tab{
	text-align:center;
	width:260px;
	line-height:44px;
	background:#3d8896;
	color:#ffffff;
	float:left;
	margin:10px;
	font-family:Verdana, Geneva, sans-serif;
}

.tab:hover{
	cursor:pointer;
	background:#eb2b36;
}

#map-canvas1 {
        width: 1476px;
		height: 250px;
		margin:10px;
		border: 2px solid #666;
      }

#pano{
	position:absolute;
	border: 2px solid #666;
	margin-bottom:10px;
}

#map-canvas {
        margin-left:10px;
		margin-bottom:10px;
        padding: 0px;
		clear:both;
		float:left;
		border: 2px solid #666;
		}

.search-div{
	width:1500px;
	clear:both;
}

.search-div form input{
	width:150px;
	height:40px;
	margin:10px 10px;
	text-align:center;
}



.footer-title{
	width:71px;
	margin:0px auto;
}

.footer-text{
	width:580px;
	margin:32px auto 0px;
	font-size:17px;
	opacity:0.8;
}